/* you will add css rules for element selectors and IDs */
html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
/* you may add to or change the body rule */
body {
    font-family: sans-serif;
    color: #fff;
    background: #333;
    margin: 0;
}
img {
    max-width: 100%; /* DO NOT delete or change this line */
}
section {
    flex: 1 1 50%;
    margin: 1rem;
}
article {
    display: flex;
    color: #000;
    padding: 2rem;
}
/* put space between h2 and p */
h2 {
    margin-top: .1rem;
}
/* format and style navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin: 0;
    padding: 1rem;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}
nav ul li {
    margin: 0;
    margin-left: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 1.5rem;
}
footer {
    margin: 0;
    padding: 1.2rem;
}
footer p {
    text-align: center;
}
/* change background colors of each article */
#cougar {
    background: #FFD5AE;
}
#lion {
    background: #FFBD82;
}
#tiger {
    background: #B26219;
    color: #fff;
}
.text {
    font-size: 1.2rem;
    line-height: 1.7rem;
}
/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #572600;
}
a:hover {
    color: #a24803;
}
nav a {
    text-decoration: none;
    color: #379CB2;
}
nav a:hover {
    color: #82E8FF;
}
#tiger a {
    color: #FDCFAC;
}
#tiger a:hover {
    color: #f6be93;
}